.singup{
    width: 100%;
    height: 110vh;
    background-color: #fce3fe;
    padding-top: 10px;

}
.singup-container{
    width: 580px;
    height: auto;
    background: white;
    margin: auto;
    padding: 20px 50px;
}
.singup-container h1{
    margin: 15px 0px;
}
.singup-field{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
.singup-field input{
    height: 65px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.singup-container button{

    width: 480px;
    height: 72px;
    color: white;
    background-color: crimson;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.login-option{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.login-option span{
    color: crimson;
    font-weight: 600;
    cursor: pointer;
}
.agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}